<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 2026-08: Google Play "사진 및 동영상에 대체 시스템 선택 도구 사용" 정책 위반 수정.
         메뉴/가게 사진 선택은 image_picker 의 ImagePicker.pickImage(source: gallery) 하나로만
         구현되어 있고, 이는 이미 Android 시스템 Photo Picker(ACTION_PICK_IMAGES)를 사용해
         광범위한 저장소 읽기 권한이 필요 없다. 아래 권한들은 어떤 플러그인도 요구하지 않는데
         앱 자체 Manifest 에 직접(수동으로) 선언되어 있었던 것이 정책 위반의 실제 원인이었다.
         READ_MEDIA_IMAGES/READ_EXTERNAL_STORAGE 는 직접 선언을 삭제하는 것만으로 충분하지만
         (다른 플러그인이 재병합하지 않음을 grep 으로 확인함), 향후 의존성이 추가돼도 실수로
         재도입되지 않도록 tools:node="remove" 로 최종 merged manifest 에서 이중으로 차단한다. -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />
    <application
        android:label="주먹요리"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- 네이버 지도 SDK Client ID (비밀 아님: SDK가 매니페스트에서 읽음).
             프로그래밍 방식(FlutterNaverMap().init) 초기화의 보조 수단. -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="gtc1th04fc" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- 카카오 로그인(Supabase OAuth) 복귀용 딥링크.
                 Supabase Redirect URL: com.jumeokyori.app://login-callback 과 완전히 일치해야 함. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.jumeokyori.app" android:host="login-callback"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
